nav ul a,
nav .brand-logo {
  color: gray;
}

body {
  background-color: lightgray;
  min-width: 468px;
}

#titleName, a {
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4, h5 {
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  line-height: 2rem;
}

#nameHeader {
  text-indent: 2%;
  display: inline;
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-collapse {
  color: gray;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(203, 198, 198, 0.90);
}

.parallax-container .section {
  width: 100%;
  position: absolute;
  top: 0;
}

label {
  font-size: 1.2rem;
}

.carousel-item {
  color: black;

}

#head-gradient {
  height: 250px;
  width: 100%;
  line-height: 0;
  /* position: absolute; */
  background: gray;
  background: linear-gradient(#546e7a, lightgray);
  /* top: 0; */
}

#mid-gradient {
  width: 100%;
  line-height: 0;
  /* position: absolute; */
  background: gray;
  background: radial-gradient(#546e7a 5%, lightgray 60%);
  /* top: 0; */
  z-index: 0;
}

#updatedStamp {
  right: 5%;
}
  
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 0;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
