nav ul a,
nav .brand-logo {
  color: gray;
}

body {
  background-color: lightgray;
  min-width: 468px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: gray;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(203, 198, 198, 0.90);
}

.parallax-container .section {
  width: 100%;
  position: absolute;
  top: 0;
}

label {
  font-size: 1.2rem;
}

#head-gradient {
  height: 250px;
  width: 100%;
  line-height: 0;
  /* position: absolute; */
  background: gray;
  background: linear-gradient(#546e7a, lightgray);
  /* top: 0; */
}

#mid-gradient {
  height: 250px;
  width: 100%;
  line-height: 0;
  /* position: absolute; */
  background: gray;
  background: radial-gradient(#546e7a, lightgray);
  /* top: 0; */
}

  
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 0;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#logo-container {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.3rem;
}